body
{
	border: 0px;
	margin: 0px;
	padding: 0px;
}
#navigationPane
{
	float: left;
	background-color: deepskyblue;
	width: 30vw;
	height: 100vh;
}
#tab1
{
	border: 1px solid black;
	height: 6vh;
	padding: 10px;
}
#hamburger
{
	margin-top: 1vh;
	border: 1px solid black;
	float: left;
}
#notification
{
	margin-top: 1vh;
	border: 1px solid black;
	float: right;
}
#countrylist
{
	margin-top: 1vh;
	margin-right: 2vw;
	border: 1px solid black;
	float: right;
}
#messagePane
{
	margin-left: 30vw;
}
#tab2
{
	border: 1px solid black;
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	height: 6vh;
}
#countryDp
{
	border: 1px solid black;
	width: 10vh;	
	height: 6vh;
	float: left;
}
#countryName
{
	font-size: 18px;
	margin-top: 2vh;
	float: left;
	margin-left: 2vw;
	border: 1px solid black;
}
#messagesArea
{
	border: 1px solid black;
	height: 80vh;
}
#inputArea
{
	border: 1px solid black;
}